<p style="margin-bottom: 40px;">third-module works!</p>

<div style="margin-bottom: 20px;">
  <a routerLink="third-first">THIRD 1</a>
</div>

<div style="margin-bottom: 20px;">
  <a routerLink="third-second">THIRD 2</a>
</div>

<router-outlet></router-outlet>
