<h1 style="margin-bottom: 40px;">Quicklink test</h1>

<div style="margin-bottom: 20px;">
  <a routerLink="/">MAIN</a>
</div>

<div style="margin-bottom: 20px;">
  <a routerLink="/first">FIRST</a>
</div>

<div style="margin-bottom: 20px;">
  <a routerLink="/second">SECOND</a>
</div>

<button type="button" (click)="showButton = !showButton">
  Show To Third module link
</button>

<div *ngIf="showButton" style="margin-bottom: 20px;">
  <a routerLink="/third">THIRD</a>
</div>

<router-outlet></router-outlet>
